  button {
       border-radius: 15px;
       background-color: gainsboro;
       color: gray;
       border-color: grey;
       margin-bottom: 0.25cm;
  }

  input {
       border-radius: 7px;
       background-color: white;
       color: blueviolet;
       border-color: grey;
  }

  body {
       position: fixed;
       padding-left: 95px;
       background-color: white;
  }

  .weatherapp {
       background-color: rgba(119, 117, 250, 0.473);
       margin: auto;
       margin-top: 35px;
       margin-right: 55px;
       margin-bottom: 55px;
       border-radius: 15px;
       padding-top: 25px;
       padding-right: 95px;
       padding-left: 95px;
       padding-bottom: 55px;
  }

  .today:hover {
       transition: 0.35s;
       color: rgb(221, 251, 251);
  }

  .twops p {
       display: inline-block;
  }